<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body id="page-top">
{% include "navigation.html" %}

<!-- Masthead -->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Devlopers</h2>
                <a class="btn btn-primary" href="/" id="getstarted">Go Home</a>
                <a class="btn btn-primary" href="https://github.com/267services/267services.github.io" id="getstarted">Github</a>
            </div>
        </div>
    </div>
</header>

</body>
</html>