<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="author" content="{{ config.author }}" />
    
    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ config.title }}
      {% else %}
        {{ config.title }} &middot; {{ config.description }}
      {% endif %}
    </title>
    
    <link rel="icon" type="image/x-icon" href="{{ get_url(path="img/favicon.ico") }}" />

    <script src="https://use.fontawesome.com/releases/v6.7.1/js/all.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    
    {% if config.extra.google_analytics_tag %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics_tag }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.extra.google_analytics_tag }}');
    </script>
    {% endif %}
</head>
