<head>
    <meta charset="utf-8" />
    <meta name="author" content="{{ config.author }}" />
    <meta name="description" content="{{ config.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <title>
        {% if page is defined and page.title %}
            {{ page.title }} &middot; {{ config.title }}
        {% else %}
            {{ config.title }} &middot; {{ config.description }}
        {% endif %}
    </title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/man/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/man/favicon.ico" type="image/x-icon" >
    <link rel="icon" type="image/png" sizes="16x16" href="/man/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/man/favicon-32x32.png">
    <link rel="manifest" href="/man/site.webmanifest">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/styles.css" type="text/css" />
    
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    
    {% if config.extra.google_analytics_tag %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics_tag }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ config.extra.google_analytics_tag }}');
        </script>
    {% endif %}
</head>
